

.sidebar {
    background-color: #1099D6;
      grid-column: 1/2;
    grid-row: 1/3;
     color: #FFFFFF;
   display: grid;
   grid-template-rows: 0.1fr 1fr 1fr 1fr ;
   
}

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
}

.main-content {
    background-color: #D3D3D3;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
      height: 100vh;

}

.sidebar >ul{
  
  display: grid;
  list-style: none;
  
  
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}
.card-container{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3,1fr) ;
}
.card{
    margin: 10px;
    background-color: #FFFFFF;
}
.card-container h4{
    grid-column: 1/3;
    
}
.announcements{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 10px;
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-rows: auto repeat(3,1fr) ;
}
.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-rows: auto repeat(3,1fr) ;
}