

.sidebar {
    background-color: #1099D6;
}

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
}

.main-content {
    background-color: #D3D3D3;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
      height: 100vh;

}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    
}