

.sidebar {
    background-color: #1099D6;
      grid-column: 1/2;
    grid-row: 1/3;
     color: #FFFFFF;
   display: grid;
   grid-template-rows: 0.1fr 1fr 1fr 1fr ;
   
}

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
}

.main-content {
    background-color: #D3D3D3;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
      height: 100vh;

}

.sidebar >ul{
  
  display: grid;
  list-style: none;
  
  
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    min-height: 150px;
    
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr ;
    
}
.card-container{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(3, 220px) ;
}
.card{
    margin: 10px;
    background-color: #FFFFFF;
}
.card-container h4{
    grid-column: 1/3;
    
}
.announcements{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 10px;
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-rows: 50px repeat(3,100px) ;
    gap: 0px;
}
.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
    /* background-color: #FFFFFF; */
    display: grid;
    grid-template-rows: 50px repeat(3, 90px) ;
    gap: 0px;
}
.card-text{
    padding-top: 5px;
    padding-left: 25px;
    /* padding-bottom: 25px; */
    padding-right: 5px;;
}
.announcements .card, .trending .card,. {
    overflow: hidden;
    
}
.card{
    overflow: hidden;
}
.sidebar > div:first-child {
    display: flex;
    align-items: center;

     gap: 10px;
    padding-left: 50px;
}

/* Make the SVG logo white */
.sidebar svg {
    fill: white;
    width: 40px;
    height: 40px;
}
.sidebar li svg {
    width: 20px;
    height: 20px;
}
.sidebar li{
    display: flex;
     gap: 10px;
    padding: 15px; 
}
.card{
      margin: 10px;  
    background-color: #FFFFFF;
    border-radius: 8px;
     border-left: 5px solid #FFD700;
    
}
